@use '_core/styles/mixins' as *;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    gap: var(--space-8);
    padding: var(--space-8);

    .langSwitch {
        color: var(--color-text-secondary);

        .lang {
            font-weight: 600;
            padding: var(--space-1) var(--space-6);
            background-color: var(--color-text-secondary);
            color: var(--color-surface);
            border-radius: var(--radius-sm);
        }
    }

    .copy {
        color: var(--color-text-muted);
    }
}
